/* RESET */
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


/* SANDBOXE */
.sandboxe-game {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
    position: relative;
}

.sandboxe-game__canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.sandboxe-game__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

.sandboxe-game__interface {
    height: 5rem;
    width: 100vw;
    position: absolute;
    bottom: 20px;
    line-height: 50px;
    color: white;
    padding-top: 1rem;
}

.sandboxe-game__interface.vue { background-color: blue; }
.sandboxe-game__interface.edition { background-color: red; }

.sandboxe-game__mode {
    width: 15vw;
    display: inline-block;
    left: 1rem;
    position: relative;
}
.sandboxe-game__mode span {
    font-weight: bold;
}

.sandboxe-game__editButton  {
    width: 15vw;
    display: inline-block;
    left: 1rem;
    position: relative;
}

.sandboxe-game__editButton p {
    border: 1px solid white;
    height: 3rem;
    text-align: center;
}

.sandboxe-game__removeButton  {
    width: 15vw;
    display: inline-block;
    left: 1rem;
    position: relative;
}

.sandboxe-game__removeButton p {
    border: 1px solid white;
    height: 3rem;
    text-align: center;
}

.sandboxe-game__colors  {
    width: 30vw;
    display: inline-block;
    left: 1rem;
    position: relative;
}

.sandboxe-game__colors .sandboxe-game__result {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 1.5px solid black;
    display: inline-block;
}

.sandboxe-game__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}


/* GENERAL */
.hidden {
    visibility: hidden;
}

.active {
    visibility: visible;
}

