/* RESET */
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


/* SANDBOXE */
.sandboxe-game {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
    position: relative;
}

.sandboxe-game__canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.sandboxe-game__interface {
    position: absolute;
    width: 100vw;
    bottom: 7rem;
    z-index: 1;
}

.sandboxe-game__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

.sandboxe-game__shapes {
    height: 50px;
    width: 100vw;
    position: absolute;
    bottom: 70px;
    font-size: 0;
    line-height: 50px;
    text-align: center;
}

.sandboxe-game__shapes li {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 12px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin: 0 10px;
}

.sandboxe-game__colors  {
    height: 50px;
    width: 100vw;
    position: absolute;
    bottom: 20px;
    font-size: 0;
    line-height: 50px;
    text-align: center;
}

.sandboxe-game__colors li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    /* width: 20px; */
    height: 20px;
    /* border-radius: 100%; */
}

.sandboxe-game__colors li.sandboxe-game__result {
    border-radius: 100%;
    width: 20px;
}

.sandboxe-game__colors li:nth-child(1) {
    background-color: red;
}

.sandboxe-game__colors li:nth-child(2) {
    background-color: green;
}

.sandboxe-game__colors li:nth-child(3) {
    background-color: blue;
}

.sandboxe-game__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}


/* GENERAL */
.hidden {
    /* display: none !important; */
}

